<div class="row align-items-start">

    <div class="col-12 col-sm-2 mb-4">
        <div class="nav flex-column nav-pills nav-start" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a *ngFor="let item of this.ds.entries; index as i" [ngClass]="{'active': i == 0}" class="nav-link"
                data-bs-toggle="pill" [attr.data-bs-target]="'#tab-'+i" type="button" role="tab"
                [attr.aria-controls]="'tab-'+i" aria-selected="true">{{
                item.title}}</a>


        </div>
    </div>
    <div class="col-12 col-sm-10">
        <div class="tab-content" id="v-pills-tabContent">
            <div *ngFor="let item of this.ds.entries; index as i" [ngClass]="{'active show': i == 0}"
                class="tab-pane fade" [id]="'tab-'+i" role="tabpanel" [attr.aria-labelledby]="'tab-'+i" [tabindex]="i">



                <div class="list-group ">
                    <a *ngFor="let entry of item.entries" class="list-group-item     list-group-item-action p-4"
                        [href]="entry.url">
                        <h2 class="fs-6 fw-bold mb-1">{{entry.title}}</h2>
                        <p class="text-muted mb-0 fs-sm">{{entry.url}}</p>
                    </a>

                </div>
            </div>
        </div>
    </div>

</div>